@charset "utf-8";
/* CSS Document */

.tt{	
	margin-left:10px;
	margin-top:100px;
    }  

.tf{
	font-size:10px;
	padding-left:6px;
    }
	
img {
	opacity:0.6;
}

<!--.tt是表格整体样式-->

<!--.tf是文字样式-->

<!--img是标签样式，所有img图片透明度设置-->

<!--左侧框架CSS-->img {
